@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$col1: hsl(267,66%,60%);
$col2: hsl(317,100%,74%);
$col3: hsl(165,56%,74%);
$col4: hsl(0, 0%, 95%);
$col5: black;
$col6: white;
$col4shdw: darken($col4,20%);
$col1light: lighten($col1,40%) ;

$fontsz: 16px;
$largrphoto: 300px;

@mixin titleformat ($color: $col5){
  color: $color;
  text-align: left;
  font-size: $fontsz*1.4;
  font-weight: bold;
  padding: 50px 0 25px 15px;
  margin: 0;
}

@mixin restlieuformat {
  text-decoration: none;
  font-size: $fontsz;
  padding-left: 10px;
  color: $col5;
}


body, html {
  width: 375px;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: $fontsz;
	background: white;
  padding:0;
	margin:0;
}

.header {
  width: 100%;
  &__logo img {  
  display: block;
  margin: auto;
  width: 44%;
  padding: 20px 0;
  }
}

.headeromf {
  background-color: $col4;
  display: flex;
  flex-direction: column;
  text-align: center;
    &__lieu {
    padding: auto;
    background-color: darken($col4, 10%);
    font-size: $fontsz;
    }
    #lieu {
    border: none;
    background-color: darken($col4, 10%);
    }
}

.headeromf {
  &__resa {
  padding-bottom: 30px;
    &__text1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: $fontsz*1.4;
    font-weight: bold;
    }
  }
}
  
.headeromf__resa {
    &__text2 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: $fontsz;
  }
}

.btn {
  padding: 15px;
  background: linear-gradient(to bottom right, $col2, $col1);
  color: white;
  border: none;
  border-radius: 30px;
}

.headeromf {
  &__fct {
    font-size: $fontsz;
    background-color: white;
    p{
    @include titleformat;
    }
  }

  nav {
    ul {
      padding-left :0;
      text-decoration: none;
      li {
      list-style-type: none;
      text-decoration: none;
      margin: 25px 0 55px 0;
      width: 360px;
      }
    }
  }
}

.btnrctg {
  background-color: $col4;
  color: $col5;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0 2px 3px 1px $col4shdw;
  text-decoration: none;
  &:hover {
    background-color: $col1light;
  }
}

section {
  background-color: $col4;
  h1 {
    @include titleformat;
  }
}

.section__restos {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  &__resto {
    text-decoration: none;
    background-color: white;
    width: 90%;
    height: 253px;
    border-radius: 30px;
    margin-bottom: 20px;
    img {
    width: 100%;
    height: 177px;
    border-radius: 28px 28px 0 0;
    object-fit: cover;
    }  
    h2 {
    @include restlieuformat;
    font-weight: bold;
    }
    h3 {
    @include restlieuformat;
    }
  .btnheart {
    position: relative;
    right: 15px;
    bottom: 15px;
    z-index: 1;
      &:hover {
        &::after {
          opacity: 1;
        }
      }
      &::after {
          content: "https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Heart_empty_font_awesome.svg/512px-Heart_empty_font_awesome.svg.png";
          position: absolute;
          right: 0; 
          background: radial-gradient(circle, lighten($col2, 5)0%, darken($col1, 10) 100%);
          opacity: 0;
          z-index: -1;
          transition: opacity 300ms;
      }
    }
  }
}


footer {
  background-color: $col5;
  color: $col6;
  padding-bottom: 30px;
  h1 {
    @include titleformat($col6);
    font-family: 'Shrikhand', Arial, serif, sans-serif;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.footer__com {
  color: $col6;
  list-style-type: none;
  &__couvert {
  list-style-image: url(images/map-marker-alt-solid.svg);
  color: $col6;
  text-decoration: none;
  }
}

.footer__com {
  color: $col6;
  list-style-type: none;
  &__partner {
  list-style-image: url(images/map-marker-alt-solid.svg);
  color: $col6;
  }
}

.footer__legal li {
  color: white;
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
}



$progressbtndur: 1000ms;
$progressbtndelay: 200ms;

.btn {
  &:hover {
    &> .progress__btnside {
      animation-name: progress__btn;
      animation-duration: $progressbtndur;
      animation-delay: $progressbtndelay;
      animation-fill-mode: both;
      transform-origin: right;
    }
  }
}

@keyframes progress__btnside {
  0% {
    transform: translateX(+999);
  }

  100% {
    transform: translateX(-20%);
  }
}