@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
a {
  text-decoration: none;
}

a:visited, a:active {
  color: black;
}

.nom1 {
  font-weight: bold;
  color: black;
}

body, html {
  width: 375px;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: white;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
}
.header__logo img {
  display: block;
  margin: auto;
  width: 44%;
  padding: 20px 0;
}

.headeromf {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headeromf__lieu {
  padding: auto;
  background-color: #d9d9d9;
  font-size: 16px;
}
.headeromf #lieu {
  border: none;
  background-color: #d9d9d9;
}

.headeromf__resa {
  padding-bottom: 40px;
}
.headeromf__resa__text1 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 27.2px;
  font-weight: bold;
}

.headeromf__resa__text2 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 19.2px;
}

.btndgd {
  padding: 15px;
  background: linear-gradient(to bottom right, #ff7ad9, #9256dc);
  color: white;
  border: none;
  border-radius: 30px;
  width: 60%;
}

.headeromf__fct {
  font-size: 17.6px;
  background-color: white;
}
.headeromf__fct p {
  color: black;
  text-align: left;
  font-size: 27.2px;
  font-weight: bold;
  padding: 50px 0 25px 15px;
  margin: 0;
}
@counter-style {
  .headeromf {
    border: #9256dc;
  }
}
.headeromf nav ol {
  list-style: none;
  counter-reset: li;
}
.headeromf nav ol li {
  margin: 25px 0 55px 0;
  counter-increment: li;
}
.headeromf nav ol li::before {
  content: counter(li);
  color: white;
  display: inline-block;
  background: #9256dc;
  width: 22px;
  border-radius: 50%;
  margin-left: -15px;
  margin-top: 21px;
}
.headeromf nav ol li i {
  padding-right: 15px;
  color: black;
}

.btnrctg {
  background-color: #f2f2f2;
  color: black;
  font-weight: bold;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0 2px 3px 1px #bfbfbf;
}
.btnrctg:hover {
  background-color: #f1eafb;
}
.btnrctg:hover > .fas {
  color: #9256dc;
}

section {
  background-color: #f2f2f2;
  padding-bottom: 10px;
}
section h1 {
  color: black;
  text-align: left;
  font-size: 27.2px;
  font-weight: bold;
  padding: 50px 0 25px 15px;
  margin: 0;
}
section .btncmd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.section__restos {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.section__restos__resto {
  text-decoration: none;
  background-color: white;
  width: 90%;
  height: 253px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.section__restos__resto img {
  width: 100%;
  height: 177px;
  border-radius: 28px 28px 0 0;
  object-fit: cover;
}
.section__restos__resto p {
  padding-left: 15px;
  font-weight: bold;
  font-size: 20.8px;
  color: black;
  margin: 0;
  padding-top: 10px;
}
.section__restos__resto .nom2 {
  font-weight: normal;
  font-size: 19.2px;
  color: black;
}
.section__restos__resto .btnheart {
  float: right;
  margin: 10px;
  z-index: 1;
}
.section__restos__resto .btnheart:hover::after {
  opacity: 0.8;
}
.section__restos__resto .btnheart::after {
  content: url("fas fa-2x fa-heart");
  background: radial-gradient(circle, #ff94e1 0%, #772bd4 100%);
  opacity: 0.3;
  z-index: -1;
  transition: opacity 200ms;
}

footer {
  background-color: black;
  color: white;
  padding-bottom: 30px;
}
footer h1 {
  color: white;
  text-align: left;
  font-size: 27.2px;
  font-weight: bold;
  padding: 50px 0 25px 15px;
  margin: 0;
  font-family: "Shrikhand", Arial, serif, sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer__com {
  color: white;
}
.footer__com__idea {
  color: white;
  text-decoration: none;
  list-style-type: none;
  padding-bottom: 10px;
}
.footer__com a {
  color: white;
  font-weight: bold;
  padding-left: 8px;
}

.footer__legal li {
  list-style-type: none;
  font-size: 20px;
  text-decoration: none;
}
.footer__legal li a {
  color: white;
  font-size: 16px;
}

header .entete i {
  float: left;
  padding-left: 20px;
  margin-top: 18px;
}
header .entete__logo {
  color: black;
  font-family: "Shrikhand", Arial, serif, sans-serif;
  font-size: 32px;
  margin-bottom: 0px;
  padding-left: 80px;
}

.headpage img {
  width: 100%;
}

.headpage {
  width: 100%;
  height: 272px;
  background-color: #f2f2f2;
}
.headpage__titre {
  position: relative;
  top: -40px;
  background-color: #f2f2f2;
  z-index: 1;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Shrikhand", Arial, serif, sans-serif;
  padding-left: 25px;
  padding-top: 26px;
}
.headpage__titre .far {
  float: right;
  padding-right: 28px;
}
.headpage__titre h1 {
  margin: 0;
  font-size: 26px;
}

.catplat {
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 25px;
  margin: 0;
}
.catplat__titre {
  font-size: 18px;
  margin: 0;
}
.catplat hr {
  width: 40px;
  float: left;
  height: 4px;
  color: #98e2cf;
  background: #98e2cf;
}

.btnpage {
  margin: 20px 3%;
  display: flex;
  flex-wrap: initial;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  color: black;
  height: 80px;
  border-radius: 25px;
  box-shadow: 0 2px 3px 1px #bfbfbf;
  text-decoration: none;
}
.btnpage:hover {
  background-color: #f1eafb;
}

.plats__nom {
  padding: 12px 20px;
  width: 90%;
}
.plats__nom__t1 {
  position: left;
  font-size: 19.2px;
  font-weight: bold;
}

.plats__nom__bas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
}
.plats__nom__bas__t2 {
  font-size: 16px;
}
.plats__nom__bas__prx {
  font-size: 16px;
  font-weight: bold;
}

.btnanim:hover + i > .progress__btnside {
  transform: translatex(0);
}

.progress__btnside {
  background-color: #98e2cf;
  height: 80px;
  width: 70px;
  border-radius: 0 25px 25px 0;
  transform: translatex(-40px);
  transform-origin: right 100%;
  transition: transform 2000ms 500ms;
}
.progress__btnside i {
  padding-top: 22px;
  padding-left: 12px;
  color: #ff7ad9;
  transform: rotate(-2turn);
  transition: transform 2000ms;
}

.plats {
  animation: apparition 2000ms ease-out 0s forward;
  border: white;
}

@keyframes apparition {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  17% {
    transform: translateY(-10%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
